<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <% if (day < 5 || day >= 0) { %>
        <h1>Hey it's Weekday, it's time to work hard!</h1>
    <% } else { %>
        <h1>Hey it's Weekend, it's time have fun!</h1>
    <% } %>
</body>
</html>